body {
  font-family: Arial, sans-serif;
  width: 250px;
  margin: 0;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

h1 img {
  width: 20px;
  margin-right: 10px;
}

.container {
  margin-bottom: 15px;
  border-radius: 10px;
}

.tags-container, .whitelisted-container, .blacklisted-container {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(88, 91, 91);
  color: rgb(247, 247, 247);
  opacity: 0.9;
}

.entrylist{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  max-height: 200px;
  overflow-y: scroll;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.action-link {
  color: #f8f893;
  cursor: pointer;
  font-size: 14px;
}

.action-button {
  background-color: #3ace5d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tag, .channel {
  background-color: #007bff;
  color: white;
  padding: 4px 8px;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  gap: 6px;
  font-size: 12px;
  justify-content: center;
  align-items: center;

}

.tag button, .channel button {
  background: red;
  border: none;
  color:  rgb(65, 67, 67);
  font-size: 12px;
  cursor: pointer;
  padding:  2px 6px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #f5f2f2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  display: flex;
  gap:5px;
  flex-direction: column;
  border-radius: 5px;
}

.view-all {
  display: flex;
  gap: 12px;
  height: fit-content;
  padding: 0px 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition: ease 100ms all;
}


button{
  transition: all 100ms ease;
}
.view-all:active{
  scale: 0.9;
}

button:active{
  scale: 0.9;
}

.view-all:hover{
  background-color: rgb(131, 127, 127);
}

.modal-header {
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-close {
  float: right;
  cursor: pointer;
}

.whitelisted-channels-list,
.blacklisted-channels-list,
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.view-all img{
  width: 10px;
  aspect-ratio: 1/1;
}

.dialog-savebutton, .dialog-closebutton{
  cursor:pointer;
  padding: 2px 1px;
 
  border-radius: 5px;
}

.dialog-closebutton{
  border: red;
  background-color: rgb(243, 127, 127);
}

.dialog-savebutton{
 border: #3ace5d;
  background-color: greenyellow;
}